*,*::before,*::after{
    box-sizing: border-box;
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
      /* (paragraphs) */
    --Transparent-white: hsla(0, 0%, 100%, 0.75);
    /* (background, headings, buttons) */
   --Very-light-gray : hsl(0, 0%, 95%);
  }
  

  body {
    margin: 0;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 52.5%;
   
  }

  main{
   
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    border: 1px solid red;
  }
  .container{
    display: flex;
    flex-direction: column;
    max-width: 375px;
    width: 80%;
    margin: 2rem auto;
    min-height: 300px; 
    border: 2px solid yellow;
    
   
   

  }

  
  .div1 h1, .div2 h1, .div3 h1{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
  }

  .div1 p, .div2 p, .div3 p{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.65rem;
    line-height: 0.75rem;
    max-width: 75%;
  }
  .div1 img,.div2 img, .div3img {
    max-width: 50%;
  }

  .div1{
   
    width: 100%;
    background-color: var(--Bright-orange);
    color: var(--Very-light-gray);
    padding: 0.5rem 0 0.5rem 1rem;
    border-radius: 10px 10px 0 0;

  }

  .div2{
    width: 100%;
    background-color: var(--Dark-cyan);
    color: var(--Very-light-gray);
    padding: 0.5rem 0 0.5rem 1rem;
  }

  .div3{
    width: 100%;
    background-color: var(--Very-dark-cyan); 
    color: var(--Very-light-gray);
    border-radius: 0 0 10px 10px;
    padding: 0.5rem 0 0.5rem 1rem;
  }

  .div1 button {
    background-color: var(--Very-light-gray);
    color: var(--Bright-orange);
    font-size: 0.75rem;
    margin-top: 2rem;
    padding: 0.5rem 1em;
    border-radius: 20px;
    border: 2px solid var(--Very-light-gray);
  }
  .div1 button:hover{
    cursor: pointer;
    background-color: var(--Bright-orange);
    color: var(--Very-light-gray);
  }

  .div2 button {
    background-color:var(--Very-light-gray);
    color: var(--Dark-cyan);
    font-size: 0.75rem;
    margin-top: 2rem;
    padding: 0.5rem 1em;
    border-radius: 20px;
    border: 2px solid var(--Very-light-gray);
  }
  .div2 button:hover{
    cursor: pointer;
    background-color: var(--Dark-cyan);
    color: var(--Very-light-gray);
  }
  .div3 button {
    background-color: var(--Very-light-gray);
    color: var(--Very-dark-cyan);
    font-size: 0.75rem;
    margin-top: 2rem;
    
    padding: 0.5rem 1em;
    border-radius: 20px;
    border: 2px solid var(--Very-light-gray);
  } .div3 button:hover{
    cursor: pointer;
    background-color: var(--Very-dark-cyan);
    color: var(--Very-light-gray);

  }
  


  
  @media only screen and (min-width: 700px) {

    body {
      margin: 0;
      font-family: 'Big Shoulders Display', cursive;
      font-family: 'Lexend Deca', sans-serif;
      font-size: 62.5%;
     
    }
    main{
   
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 1440px;
      width: 70%;
      margin: 8rem auto;
     
    }
    .container {
       flex-direction: row;
       max-width: 800px;
       width: 80%;
       min-height: 400px;
      
    }


    .div1 h1, .div2 h1, .div3 h1{
      font-family: 'Big Shoulders Display', cursive;
      
      padding-top: 1rem;
      padding-bottom: 1rem;
      text-transform: uppercase;
    }
  
    .div1 p, .div2 p, .div3 p{
      font-family: 'Lexend Deca', sans-serif;
     
      line-height: 1.25rem;
      max-width: 75%;
    }
    .div1 img,.div2 img, .div3img {
      max-width: 100%;
    }

    .div1{
      border-radius: 10px 0 0 10px;
    }

    .div1 button{
      margin-top: 3rem;
      font-size: 0.65rem;
    }
    .div1 button:hover{
      cursor: pointer;
      background-color: var(--Bright-orange);
      color: var(--Very-light-gray);
    }
    .div2 button {
      margin-top: 3rem;
      font-size: 0.65rem;
    }
    .div2 button:hover{
      cursor: pointer;
      background-color: var(--Dark-cyan);
      color: var(--Very-light-gray);
    }
    
    .div3 button {
      margin-top: 3rem;
      font-size: 0.65rem;
    }
    .div3 button:hover{
      cursor: pointer;
      background-color: var(--Very-dark-cyan);
      color: var(--Very-light-gray);

    }

    .div3{
      border-radius: 0 10px 10px 0;
    }
  }